## Deliverable 2. Create a Customer Travel Destinations Map

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Musiri,IN,10.9333,78.4500,75.20,83,20,6.91,mist
1,1,Ciudad Dario,NI,12.7314,-86.1240,69.80,73,75,18.41,broken clouds
2,2,Quixada,BR,-4.9714,-39.0153,95.29,32,55,7.38,moderate rain
3,3,Vila,PT,42.0304,-8.1588,53.01,94,92,18.01,overcast clouds
4,4,Khatanga,RU,71.9667,102.5000,-44.18,79,48,5.23,scattered clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Musiri,IN,10.9333,78.4500,75.20,83,20,6.91,mist
10,10,Rikitea,PF,-23.1203,-134.9692,78.71,66,11,9.40,few clouds
11,11,Capao Bonito,BR,-24.0058,-48.3494,77.16,71,91,6.40,overcast clouds
14,14,Coromandel,BR,-18.4733,-47.2003,82.04,59,66,2.95,broken clouds
15,15,Kapaa,US,22.0752,-159.3190,72.00,83,40,14.97,light rain
18,18,Tautira,PF,-17.7333,-149.1500,82.40,65,40,4.61,scattered clouds
21,21,Touros,BR,-5.1989,-35.4608,86.00,54,20,16.11,few clouds
24,24,Carutapera,BR,-1.1950,-46.0200,86.47,63,7,10.78,clear sky
25,25,Caravelas,BR,-17.7125,-39.2481,84.24,59,16,10.42,few clouds
26,26,Tefe,BR,-3.3542,-64.7114,80.60,83,40,5.75,scattered clouds

In [35]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [36]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Musiri,IN,10.9333,78.4500,75.20,83,20,6.91,mist
10,10,Rikitea,PF,-23.1203,-134.9692,78.71,66,11,9.40,few clouds
11,11,Capao Bonito,BR,-24.0058,-48.3494,77.16,71,91,6.40,overcast clouds
14,14,Coromandel,BR,-18.4733,-47.2003,82.04,59,66,2.95,broken clouds
15,15,Kapaa,US,22.0752,-159.3190,72.00,83,40,14.97,light rain
...,...,...,...,...,...,...,...,...,...,...
555,555,Palm Coast,US,29.5850,-81.2078,75.20,50,40,18.41,scattered clouds
557,557,Port Hedland,AU,-20.3167,118.5667,77.00,88,75,19.57,light rain
559,559,Wamba,NG,8.9333,8.6000,83.61,15,8,2.06,clear sky
566,566,Humberto De Campos,BR,-2.5983,-43.4611,86.41,64,78,9.48,broken clouds
568,568,Richards Bay,ZA,-28.7830,32.0377,78.39,88,27,11.50,light rain

In [37]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Musiri,IN,75.20,mist,10.9333,78.4500,
10,Rikitea,PF,78.71,few clouds,-23.1203,-134.9692,
11,Capao Bonito,BR,77.16,overcast clouds,-24.0058,-48.3494,
14,Coromandel,BR,82.04,broken clouds,-18.4733,-47.2003,
15,Kapaa,US,72.00,light rain,22.0752,-159.3190,
18,Tautira,PF,82.40,scattered clouds,-17.7333,-149.1500,
21,Touros,BR,86.00,few clouds,-5.1989,-35.4608,
24,Carutapera,BR,86.47,clear sky,-1.1950,-46.0200,
25,Caravelas,BR,84.24,few clouds,-17.7125,-39.2481,
26,Tefe,BR,80.60,scattered clouds,-3.3542,-64.7114,

In [38]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [40]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Musiri,IN,75.20,mist,10.9333,78.4500,HOTEL GATEWAY
10,Rikitea,PF,78.71,few clouds,-23.1203,-134.9692,Pension Maro'i
11,Capao Bonito,BR,77.16,overcast clouds,-24.0058,-48.3494,HOTEL PASSARIM
14,Coromandel,BR,82.04,broken clouds,-18.4733,-47.2003,Hotel Dona Adélia
15,Kapaa,US,72.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
555,Palm Coast,US,75.20,scattered clouds,29.5850,-81.2078,Hammock Beach Golf Resort & Spa
557,Port Hedland,AU,77.00,light rain,-20.3167,118.5667,The Esplanade Hotel
559,Wamba,NG,83.61,clear sky,8.9333,8.6000,Roma Zee Guest House Annex
566,Humberto De Campos,BR,86.41,broken clouds,-2.5983,-43.4611,Pousada do Cabeça
568,Richards Bay,ZA,78.39,light rain,-28.7830,32.0377,BON Hotel Waterfront Richards Bay

In [1]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))